frontend/*
quickstart/*
./venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.DS_Store
.env
*.env
*.bak
*.tmp
*.swp
*.swo
.idea/
.vscode/
node_modules/
dist/
build/
*.egg-info/
*.egg
*.log
*.cache
*.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.coverage